body{
    background-color: cadetblue;
}

.container{
    background-color: chartreuse;
    width: 40%;
    height: 30%;
    margin: 20%;
    padding: 20;
}

#question{
    width: 100%;
    height: 25%;
    background-color: coral;
}

#answer-btns{
    display: grid;
    grid-template-columns: repeat(2,auto);
    margin: 20 2;
    gap: 20px;
   
}

.hide{
    display: none;
}